<svg class="svg" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="#D1A8FF" fill-opacity="1" fill-rule="nonzero" stroke="none" d="M1.207 6 6 1.207 10.793 6 6 10.793 1.207 6z"></path></svg>