class {
    getIconClass(input) {
        let iconClass = "icon";
        if (input.name) iconClass += ` icon--${input.name}`;
        if (input.spin) iconClass += " icon--spin";
        if (input.color) iconClass += ` icon--${input.color}`;
        return iconClass;
    }
}
interface Input {
name?: string; // Icon name

div class=[this.getIconClass(input)] aria-hidden="true"
    if(input.isText) -- ${input.content}
